html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #7da4cd;
    font-family: HiraKakuProN-W3, HiraKakuProN-W6, 游ゴシック, "Yu Gothic", メイリオ, Meiryo;
}

#main-container {
    margin: 0px;
    display: grid;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 60px;
}

#chat-container {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0px;
}

#chat-table {
    width: 100%;
    height: auto;
}

#chat-table-body {
    width: 100%;
    height: 100%;
}

#chat-ribbon {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    height: 50px;
    margin: 0px;
    padding: 5px 0;
    background-color: dodgerblue;
    display: grid;
    grid-template-columns: auto 44px 44px;
    column-gap: 3px;
    grid-template-rows: auto;
    place-items: center;
}

#chat-textbox {
    grid-column: 1;
    grid-row: 1;
    border-radius: 25px;
    width: 90%;
    height: 35px;
    font-size: 18px;
}

#send-img {
    width: 36px;
    height: 36px;
}

#mike-img {
    width: 36px;
    height: 36px;
}

.chat-button {
    width: 44px;
    height: 44px;
    cursor: pointer;
    text-align: center;
    vertical-align: center;
}


/*LINE風吹き出し*/
/*以下、①背景色など*/
.line-bc {
    /* padding: 20px 10px; */
    max-width: 450px;
    margin: 15px auto;
    text-align: right;
    font-size: 18px;
    background: #7da4cd;
  
  }
  
  /*以下、②左側のコメント*/
  .balloon6 {
    width: 100%;
    margin: 10px 0;
    overflow: hidden;
    text-align: left;
    margin-left: 1px;
  }
  
  .balloon6 .faceicon {
    float: left;
    margin-right: -50px;
    width: 40px;
  }
  
  .balloon6 .faceicon img{
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  .balloon6 .chatting {
    width: 100%;
    text-align: left;
  }
  .says {
    display: inline-block;
    position: relative; 
    margin: 0 0 0 50px;
    padding: 10px;
    max-width: 250px;
    border-radius: 12px;
    background: #edf1ee;
  }
  
  .says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px; 
    left: -19px;
    border: 8px solid transparent;
    border-right: 18px solid #edf1ee;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }
  .says p {
    margin: 0;
    padding: 0;
  }
  
  /*以下、③右側の緑コメント*/
  .mycomment {
    margin: 10px 0;
  }
  .mycomment p {
    display: inline-block;
    position: relative; 
    margin: 0 10px 0 0;
    padding: 8px;
    max-width: 250px;
    border-radius: 12px;
    background: #30e852;
    font-size: 15px;
  }
  
  .mycomment p:after {
    content: "";
    position: absolute;
    top: 3px; 
    right: -19px;
    border: 8px solid transparent;
    border-left: 18px solid #30e852;
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }

  .chat-row {
    height: auto;
  }

  .chat-data {
    height: auto;
  }